In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Race Representation

In [2]:
# How many of each race are represented in this dataset?
race_count = (df['race'].value_counts())#.tolist()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### Average Age

In [3]:
# What is the average age of men?
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
print("Average Age for Men =",average_age_men)
average_age_men = round(df[df['sex'] == 'Female']['age'].mean(), 1)
print("Average Age for Women =",average_age_men)

Average Age for Men = 39.4
Average Age for Women = 36.9

### Advanced Education

In [4]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(((len(df[df['education'] == 'Bachelors']) / len(df)) * 100), 1)
print("Percentage of People With a Bachelor's Degree =",percentage_bachelors,"%")

Percentage of People With a Bachelor's Degree = 16.4 %

In [5]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) earn more than 50K?
# What percentage of people without advanced education earn more than 50K?

# Count of people with and without Bachelors, Masters, or Doctorate
higher_education = len(df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))])
lower_education = len(df[~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))])
print("People With a Degree =",higher_education)
print("People Without a Degree =",lower_education)

# Percentage of people with a salary >50K
higher_education_rich = round((len(df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')]) / (higher_education) * 100), 1)
lower_education_rich = round((len(df[~(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')]) / (lower_education) * 100), 1)
print("Percentage of People With a Degree earning over 50K =",higher_education_rich,"%")
print("Percentage of People Without a Degree earning over 50K =",lower_education_rich,"%")

People With a Degree = 7491
People Without a Degree = 25070
Percentage of People With a Degree earning over 50K = 46.5 %
Percentage of People Without a Degree earning over 50K = 17.4 %

### Minimum Hours Worked per Week

In [6]:
# What is the minimum number of hours a person works per week?
min_work_hours = df['hours-per-week'].min()
print("Minimun Number of Hours Worked per Week =",min_work_hours)

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[(df['hours-per-week'] == 1 )])
rich_percentage = (len(df[(df['hours-per-week'] == 1 ) & (df['salary'] == '>50K')]) / num_min_workers) * 100
print("Percentage of People working the Minimum Number of Hours per Week and earning a Salary Over 50K =",rich_percentage,"%")

Minimun Number of Hours Worked per Week = 1
Percentage of People working the Minimum Number of Hours per Week and earning a Salary Over 50K = 10.0 %

### Highest Earning Country

In [7]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = df[df['salary'] == '>50K']['native-country'].value_counts().keys()[0]
highest_earning_country_percentage = round((len(df[(df['salary'] == '>50K') & (df['native-country'] == 'United-States')]) / len(df[df['native-country'] == 'United-States'])) * 100, 1)
print("Highest Earning Country =", highest_earning_country)
print("Percentage of People in the US Earning Over 50K =",highest_earning_country_percentage,"%")

# The most popular occupation for those who earn >50K in the United States.
top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'United-States')]['occupation'].value_counts().keys()[0]
print("Most Popular Occupation in the US =",top_IN_occupation)

Highest Earning Country = United-States
Percentage of People in the US Earning Over 50K = 24.6 %
Most Popular Occupation in the US = Exec-managerial